
.main-nav{
    min-height: 70px;
}

.nav-logo-text,
.nav-logo-text:hover {
  color: #00285f;
  padding-left: 8px;
}


.main-menu {
    display: flex;
    font-size: 18px;
    width: 220px;
    justify-content: space-between;
}

.main-menu a{
    font-weight: normal;
    padding: 20PX;
}

.main-menu a:hover{
    font-weight: bold;
}

.main-menu a.active{
    font-weight: bold;
}
